* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    padding: 32px;
}

.input-group {
    margin: 10px;
}

.submit-button {
    margin: 10px;
}